@model IEnumerable<Product>

<div class="row pb-3">
    @foreach (var product in Model)
    { 
       <divc class="col-lg-3 col-sm-6">
            <div class="rounded-end p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow border-top border-5 rounded">
                        <img src="@product.ImageUrl" class="card-img-top rounded" />
                        <div class="pl-1">
                            <p class="card-title h5 text-dark text-center text-uppercase opacity-75">@product.Title</p>
                            <p class="card-title h5 text-warning text-center">by <b>@product.Author</b></p>
                        </div>
                        <div class="pl-1">
                            <p class="card-title h5 text-dark text-center text-uppercase text-opacity-75 mb-0">List Price: <span class="text-decoration-line-through">@product.Price100.ToString("c")</span></p>
                        </div>
                        <div class="pl-1">
                            <p class="card-title h5 text-dark text-center text-uppercase text-opacity-75">As low as : <span>@product.Price100.ToString("c")</span></p>
                        </div>
                    </div>

                    <div>
                        <a asp-action="Details" asp-route-productId="@product.Id" 
                        class="btn btn-primary bg-gradient border-0 form-control">Details</a>
                    </div>
                </div>
            </div>
        </divc> 
    }
</div>